/* user stylesheet */
body{
  background-color: #F6E9DB;
  color: #21282D;
  font-family: 'Muli', sans-serif;
}

.panel-body{
  background-color: #EAC4B3;
}
tr {
  background-color: white;
}
.form_style
{
 width: auto;
 margin: 0 auto;
}

.btn{
  background-color: #2C595B;
  border-color: #2C595B;
}

.btn-primary:hover{
  background-color: #BAD1CD;
}

#banner{
  max-width: 20%;
  height: auto;
}
.review{
padding: 20px;
background-color: #EAC4B3; /*#2C595B;*/
color: #21282D;
}
p.head{
font-weight: bold;
padding-left: 10px;
}
.review_text{
padding: 20px;
background-color: #ECCDBF;
}
